
  body {
      background-color: rgb(235, 230, 211);
      font-family: Arial, Helvetica, sans-serif;
      margin: 20px;
  }
  
  h1 {
      color: rgb(28, 103, 88);
      font-weight: 400;
      font-size: 2rem;
      margin-left:10px
  }
  
  img {
    width:150px;
    border-radius: 5px;
  }

  #grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  
  .card-container {
    position: relative;
    margin: 10px;
    border-radius: 5px;
  }
  
  .card {
    width: 150px;
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }

  .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    border-radius: 5px;
  }

 .grey {
  background-color: grey;
 }

 .green {
  background-color: rgb(61, 131, 97);
 }

  .hidden {
    visibility: hidden;
  }
